<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/student/styles.css"  type="text/css">
    <title>Personal Information</title>
</head>
<body>

    <div class="card">
    
        <form action="/student/personal" method="post">
          <!-- <h2>STUDENT INFORMATION</h2> -->
          <div class="title">
            <h1> Student Information</h1>
            
        </div>
          
          <div class="form-group">
            <label for="id">University ID:</label>
            <input type="text" id="id"   readonly value="<%= studentData.studentId %>">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email"    readonly value="<%= studentData.Email %>">
          </div>
          <div class="form-group">
            <label for="name">Student Name:</label>
            <input type="text" name="studentName"  id="studentName"  value="<%= studentData.studentName %>">
          </div>
          
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" name="mobile" id="mobile" value="<%= studentData.mobileNumber %>">
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>
</body>
</html>