<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Teacher/DHomePage.css">
    <title>Home</title>
</head>
<body>

    <div class="log-out">
        <button>
            <a href="/teacher/logout" ><img src="/images/logout.png" alt="log-out image" srcset=""></a>
        </button>
    </div>


    <div class="title">
        <h1>Welcome</h1>
        
    </div>
    <div class="container">
        <div class="boxes">
            
            <div class="Info-D">
                <a href="/teacher/personal">
                    <button type="submit" >
                        <img src="/images/personal-information.png" alt="personal-information image" srcset="" >
                        <h3>Personal Information</h3>
                    </button>
                </a>    
            </div>

            <div class="Cource-D">
                <a href="/teacher/courses">
                    <button type="submit" >
                        <img src="/images/ebook.png" alt="Cource image" srcset="" class="flip" >
                        <h3>Cources</h3>
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>